<!-- Banner Md -->
<h1 class="text-center">Banner Md</h1>
<div class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <h1 class="display-4">Title Md</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis consequatur consequuntur culpa debitis eius error libero minima nam necessitatibus nemo nisi officia, provident quis recusandae repellendus vitae voluptatum. Animi, deleniti.</p>
  </div>
  <a class="btn btn-primary btn-md" href="#" role="button">CTA</a>
</div>
<!-- end -->

<!-- Banner Lg -->
<h1 class="text-center">Banner Lg</h1>
<div class="jumbotron jumbotron-fluid text-center">
  <h1 class="display-3">Title Lg</h1>
  <div class="container">
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis consequatur consequuntur culpa debitis eius error libero minima nam necessitatibus nemo nisi officia, provident quis recusandae repellendus vitae voluptatum. Animi, deleniti.</p>
  </div>
  <a class="btn btn-primary btn-lg" href="#" role="button">CTA</a>
</div>
<!-- end  -->
