<h1 class="text-center">Grosse bannière</h1>
<div class="jumbotron jumbotron-fluid text-center">
  <h1 class="display-3">Enorme titre</h1>
  <div class="container">
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis consequatur consequuntur culpa debitis eius error libero minima nam necessitatibus nemo nisi officia, provident quis recusandae repellendus vitae voluptatum. Animi, deleniti.</p>
  </div>
  <a class="btn btn-primary btn-lg" href="#" role="button">Call to action</a>
</div>
<h1 class="text-center">Petite bannière</h1>
<div class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <h1 class="display-4">Titre</h1>
  </div>
</div>
