<h1 class="text-center">Footer</h1>

<!-- Footer -->
<footer class="bg-primary">
  <div class="text-center py-3 text-light">© 2064 Copyright:
    <a href="<%= root_path %>" class="text-light"> mywebsite.com</a>
    <a href="#!" class="text-light m-3">Contact</a>
    <a href="#!" class="text-light">Social networks</a>
  </div>
</footer>
<!-- end -->
